<a href="https://colab.research.google.com/github/raj-vijay/ml/blob/master/Q1_Rain_Must_Fall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1 - Numerical Analysis Exercises using NumPy – Rainfall Dataset**

The objective of the exercises below is to familiarize yourself with the use of NumPy. These excises are mainly based on rainfall data in Cork for each month over the past half century. In the folder you will find a file called CorkRainfall.txt and a file called DublinRainfall.txt. This is a space delimited file.
Each line of the file contains the following precipitation information pertaining to a specific month and year:

*   Year
*   Month (1 = Jan, 2 = Feb, 3 = March, etc. )
*   Total Rainfall (Millimetres)
*   Most Rainfall in a Day (Millimetres)
*   Number of Rain days (A day is classified as a rain day if it has >= 0.2mm rain) (Number)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np

cork_array = np.loadtxt('/content/drive/My Drive/00.Data/CorkRainfall.txt')
# Test load for Cork rainfall data set.
# print(cork_array)

dublin_array = np.loadtxt('/content/drive/My Drive/00.Data/DublinRainfall.txt')
# Test load for Dublin rainfall data set.
# (dublin_array)

Please use NumPy to answer the following questions. The objective of this task is to familiarize yourself with the operation of NumPy (there is no need to incorporate error checking).

1.   Print out the max ‘Most Rainfall in a Day’ value and the average ‘Most Rainfall in a Day’ value for the Cork data (that is, obtain the maximum value contained in this column of data and the average value in this column of data).

In [0]:
# Solution to question 1

print("Maximum Most Rainfall in a Day in Cork: ", np.max(cork_array[:,3]))
print("Maximum Most Rainfall in a Day in Cork: ", round(np.mean(cork_array[:,3]),2))

Maximum Most Rainfall in a Day in Cork:  86.7
Maximum Most Rainfall in a Day in Cork:  22.91

2.   Display all unique years for which there is data in the dataset (you can use np.unique) Ask the user to select a specific year. You should then output the sum of the Rain Days column for that year (you do this by adding up the "Number of rain days” for all 12 rows pertaining to the selected year).

In [0]:
# Solution to question 2

print("\n\nAll unique years for which rainfall data is recorded in Cork: \n\n", np.unique(cork_array[:,0].astype(int)))

year = int(input("\n\nEnter the year to display the total Rain Days: "))

if year in cork_array[:,0]:
    # Use Boolean Array and a NumPy Array to slice data for the selection.
    select = cork_array[:,0]==year
    subset = cork_array[select,:][:,:]
    print()
    print(np.sum(subset[:,4].astype(int)),"rainy days in", year)
else:
    print("\nNo data exists for the year provided.")

All unique years for which rainfall data is recorded in Cork:

 [1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011]


Enter the year to display the total Rain Days: 1986

231 rainy days in 1986

3.   Calculate the wettest month of the year in Cork based using the “Total Rainfall” value. The month that has the highest cumulative “Total Rainfall” value across all years should be classified as the wettest.

In [0]:
# Solution to question 3

max_val = 0
max_month = 0
for month in np.unique(cork_array[:,1]):
    dataset = cork_array[:,1]==month
    total = cork_array[dataset,:][:,:]
    cummulative = np.sum(total[:,2])
    if cummulative > max_val:
        max_val = cummulative
        max_month = month
print("\nMonth =", max_month,"is the wettest month of the year in Cork and has recorded", max_val, "mm rainfall over the years.")

Month = 1.0 is the wettest month of the year in Cork and has recorded 6848.1 mm rainfall over the years.

4.   This question focuses on the Number of Rain days column. The user is asked to enter a maximum threshold value for the number of rain days. Your code should then output the percentage of the time (percentage of rows in the dataset) where the number of rain days is less than or equal to the threshold value.

In [0]:
# Solution to question 4

days = int(input("Enter a threshold number of days: "))
rain_days = cork_array[:,4] < days
print(round(np.sum((cork_array[rain_days,:][:,4]))/np.sum((cork_array[:,4]))*100,2), "% of the time Cork receives rain less than", days, "days in a month.")

Enter a threshold number of days: 21
60.28 % of the time Cork receives rain less than 21 days in a month.

5.   Calculate the average ‘total rainfall’ value for the summer months (June, July and August) and the Autumn months (Sept, Oct, Nov).

In [0]:
# Solution to question 5

summer_data = (cork_array[:,1].astype(int) > 5) & (cork_array[:,1].astype(int) < 9)
print("\nAverage rainfall in the summer for Cork is", round(np.mean(cork_array[summer_data, :][:, 2]),2),"mm.")

fall_data = (cork_array[:,1].astype(int) > 8) & (cork_array[:,1].astype(int) < 12)
print("\nAverage rainfall in the fall for Cork is", round(np.mean(cork_array[fall_data, :][:, 2]),2),"mm.")

Average rainfall in the summer for Cork is 80.04 mm.

Average rainfall in the fall for Cork is 114.46 mm.

6.   Read in the contents of the file DublinRainfall.txt into a NumPy array. Append the all rows from the Dublin array to the Cork NumPy array. Calculate the average number of raindays for the new array and write the new NumPy array to a CSV file.

In [0]:
# Solution to question 6

full_array = np.vstack((cork_array, dublin_array))
print("\nAverage number of rainy days in Cork and Dublin: ", round(np.mean(full_array[:, 4]),2))

# np.savetxt("/content/drive/My Drive/00.Data/Full_data.txt", full_array, delimiter= ',')

Average number of rainy days in Cork and Dublin:  16.7