<a href="https://colab.research.google.com/github/raj-vijay/ml/blob/master/Q3_Mind_The_Sharks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 3 - Numerical Analysis Exercises Pandas – Shark Attack Dataset**

For each of the following questions you will use a dataset containing information on global shark attacks called attacks.csv.

Attribute Information:

The attributes recorded in the dataset are as follows:
0. Case Number
1. Date
2. Year
3. Type
4. Country
5. Area
6. Location
7. Activity
8. Name
9. Sex
10. Age
11. Injury
12. Fatal
13. Time
14. Species
15. Investigator or Source

You will notice in the dataset that some entries in the fatality column are recorded as UNKNOWN, n, F, etc. We ignore these entries and only consider entries that are uppercase ‘Y’ or ‘N’.

Open this file using Pandas read_csv() function. The data file is stored in a different encoding format so you can use the following line to read the data into a dataframe.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
sharks_df = pd.read_csv('/content/drive/My Drive/00.Data/attacks.csv', encoding = "ISO-8859-1")

#Test loading of data to dataframe
# print(sharks_df)

(i)
What location globally has the highest number of shark attacks?

In [0]:
# Solution 1

print(sharks_df.Location.mode()[0], "has the highest number of shark attacks globally.")

New Smyrna Beach, Volusia County has the highest number of shark attacks globally.

(ii)
Read the shark attack dataset into a Pandas Dataframe.
Determine the six countries that have experienced the highest number of shark attacks.

In [0]:
# Solution 2

print("\nThe top countries six countries that have experienced the highest number of shark attacks are as below.\n")
print(sharks_df.Country.value_counts().head(6).to_string())

The top countries six countries that have experienced the highest number of shark attacks are as below.

USA                 2160
AUSTRALIA           1303
SOUTH AFRICA         571
PAPUA NEW GUINEA     133
NEW ZEALAND          126
BRAZIL               103

(iii)
Modify your code to print out the six countries that have experienced the highest number of fatal shark attacks.

In [0]:
# Solution 3

print("\nThe top countries six countries that have experienced the highest fatal shark attacks are as below.\n")
print(sharks_df[sharks_df['Fatal'] == 'Y'].Country.value_counts().head(6).to_string())

The top countries six countries that have experienced the highest fatal shark attacks are as below.

AUSTRALIA           342
USA                 250
SOUTH AFRICA        137
PAPUA NEW GUINEA     56
MEXICO               44
BRAZIL               40

(iv)
Based on the data in the Activity column are you more likely to be attacked by a shark if you are “Surfing” or “Scuba Diving”.

In [0]:
# Solution 4

# Test string search vs. value matching for the sharks data set
# surf = sharks_df[sharks_df['Activity'] == 'Surfing'].Activity.count()
# print(surf)

surf = sharks_df[sharks_df['Activity'].str.contains("surfing", case = False) == True].Activity.count()
# print(surf)

dive = sharks_df[sharks_df['Activity'].str.contains("scuba", case = False) == True].Activity.count()
print("\nThe likelyhood of being attached by a shark is higher if you are", "Scuba Diving." if dive > surf else "Surfing.")

The likelyhood of being attached by a shark is higher if you are Surfing.

(v)
Determine from the dataset what percentage of all recorded shark attacks were fatal.

In [0]:
# Solution 5

print("\nThe percentages of all recorded shark attacks were fatal is", round((sharks_df[sharks_df['Fatal'] == 'Y'].Fatal.count())/sharks_df.Fatal.count()*100,2))

The percentages of all recorded shark attacks were fatal is 25.82

(vi)
For each individual country, print out the percentage of fatal shark attacks (number of fatal shark attacks expressed as a percentage of the total number of shark attacks). Some countries have recorded 0 fatal and non-fatal attacks. Your code should only consider countries where the number of non-fatal and fatal attacks are greater than 0.

In [0]:
# Solution 6

fatal_sdf = sharks_df[sharks_df['Fatal'] != ' ']
fatal_cn_sdf = round(fatal_sdf[fatal_sdf['Fatal'] == 'Y'].Country.value_counts()/fatal_sdf.Country.value_counts()*100,2).fillna(0.0).to_string()
print("\n\nBelow are the fatal shark attacks expressed as a percentage of total shark attacks, by country:\n")
print(fatal_cn_sdf)

Below are the fatal shark attacks expressed as a percentage of total shark attacks, by country:

 PHILIPPINES                             100.00
 TONGA                                    66.67
ADMIRALTY ISLANDS                          0.00
ALGERIA                                  100.00
AMERICAN SAMOA                           100.00
ANDAMAN / NICOBAR ISLANDAS               100.00
ANGOLA                                     0.00
ANTIGUA                                    0.00
ARGENTINA                                  0.00
ARUBA                                    100.00
ASIA?                                      0.00
ATLANTIC OCEAN                            43.75
AUSTRALIA                                 26.25
AZORES                                     0.00
BAHAMAS                                   11.88
BAHREIN                                  100.00
BANGLADESH                               100.00
BARBADOS                                  66.67
BAY OF BENGAL                            100.00
BELIZE                                    66.67
BERMUDA                                   18.75
BRAZIL                                    38.83
BRITISH ISLES                              0.00
BRITISH NEW GUINEA                         0.00
BRITISH VIRGIN ISLANDS                   100.00
BRITISH WEST INDIES                        0.00
BURMA                                     75.00
Between PORTUGAL & INDIA                 100.00
CANADA                                    20.00
CAPE VERDE                                66.67
CARIBBEAN SEA                             62.50
CAYMAN ISLANDS                             0.00
CENTRAL PACIFIC                           50.00
CEYLON (SRI LANKA)                       100.00
CHILE                                     50.00
CHINA                                     50.00
COLUMBIA                                  22.22
COOK ISLANDS                             100.00
COSTA RICA                                66.67
CRETE                                     50.00
CROATIA                                   52.94
CUBA                                      57.14
CURACAO                                    0.00
CYPRUS                                   100.00
Coast of AFRICA                          100.00
DIEGO GARCIA                             100.00
DJIBOUTI                                 100.00
DOMINICAN REPUBLIC                        57.14
ECUADOR                                    0.00
EGYPT                                     35.14
EGYPT                                      0.00
EGYPT / ISRAEL                             0.00
EL SALVADOR                               50.00
ENGLAND                                   15.00
EQUATORIAL GUINEA / CAMEROON             100.00
England                                    0.00
FALKLAND ISLANDS                           0.00
FEDERATED STATES OF MICRONESIA             0.00
FIJI                                      35.48
FRANCE                                    23.08
FRENCH POLYNESIA                           9.09
Fiji                                      66.67
GABON                                    100.00
GEORGIA                                    0.00
GHANA                                    100.00
GRAND CAYMAN                               0.00
GREECE                                    60.00
GREENLAND                                100.00
GRENADA                                   75.00
GUAM                                      50.00
GUATEMALA                                100.00
GUINEA                                   100.00
GULF OF ADEN                             100.00
GUYANA                                     0.00
HAITI                                     33.33
HONDURAS                                  66.67
HONG KONG                                 70.83
ICELAND                                    0.00
INDIA                                     50.00
INDIAN OCEAN                              71.43
INDIAN OCEAN?                            100.00
INDONESIA                                 66.67
IRAN                                      44.83
IRAN / IRAQ                                0.00
IRAQ                                      25.00
IRELAND                                  100.00
ISRAEL                                     0.00
ITALY                                     25.35
ITALY / CROATIA                            0.00
JAMAICA                                   56.00
JAPAN                                     42.42
JAVA                                     100.00
JOHNSTON ISLAND                            0.00
KENYA                                     60.00
KIRIBATI                                  66.67
KOREA                                    100.00
KUWAIT                                     0.00
LEBANON                                   66.67
LIBERIA                                  100.00
LIBYA                                     40.00
MADAGASCAR                                57.14
MALAYSIA                                  25.00
MALDIVE ISLANDS                          100.00
MALTA                                     60.00
MARSHALL ISLANDS                          15.38
MARTINIQUE                                 0.00
MAURITIUS                                 28.57
MAYOTTE                                  100.00
MEDITERRANEAN SEA                         50.00
MEXICO                                    51.76
MEXICO                                     0.00
MICRONESIA                                 0.00
MID ATLANTIC OCEAN                        40.00
MID-PACIFC OCEAN                           0.00
MONACO                                   100.00
MONTENEGRO                                66.67
MOZAMBIQUE                                44.44
NAMIBIA                                   50.00
NETHERLANDS ANTILLES                       0.00
NEVIS                                    100.00
NEW BRITAIN                               66.67
NEW CALEDONIA                             37.25
NEW GUINEA                                60.00
NEW ZEALAND                               22.22
NICARAGUA                                 83.33
NICARAGUA                                  0.00
NIGERIA                                   75.00
NORTH ATLANTIC OCEAN                       0.00
NORTH ATLANTIC OCEAN                       0.00
NORTH PACIFIC OCEAN                       28.57
NORTH SEA                                  0.00
NORTHERN ARABIAN SEA                       0.00
NORTHERN MARIANA ISLANDS                   0.00
NORWAY                                     0.00
OCEAN                                      0.00
OKINAWA                                   66.67
PACIFIC OCEAN                             47.06
PACIFIC OCEAN                              0.00
PALAU                                      0.00
PALESTINIAN TERRITORIES                    0.00
PANAMA                                    59.38
PAPUA NEW GUINEA                          42.11
PARAGUAY                                 100.00
PERSIAN GULF                              25.00
PHILIPPINES                               62.71
PORTUGAL                                  66.67
PUERTO RICO                                0.00
RED SEA                                    0.00
RED SEA / INDIAN OCEAN                   100.00
RED SEA?                                   0.00
REUNION                                   49.15
RUSSIA                                     0.00
SAMOA                                     14.29
SAN DOMINGO                              100.00
SAUDI ARABIA                              20.00
SCOTLAND                                   0.00
SENEGAL                                   36.36
SEYCHELLES                                71.43
SIERRA LEONE                              50.00
SIERRA LEONE?                            100.00
SINGAPORE                                 66.67
SLOVENIA                                   0.00
SOLOMON ISLANDS                           41.38
SOLOMON ISLANDS / VANUATU                100.00
SOMALIA                                   83.33
SOUTH AFRICA                              23.99
SOUTH ATLANTIC OCEAN                      33.33
SOUTH CHINA SEA                            0.00
SOUTH KOREA                               75.00
SOUTH PACIFIC OCEAN                      100.00
SOUTHWEST PACIFIC OCEAN                   50.00
SPAIN                                     22.50
SRI LANKA                                 21.43
ST HELENA, British overseas territory      0.00
ST. MAARTIN                                0.00
ST. MARTIN                                 0.00
SUDAN                                     25.00
SUDAN?                                     0.00
SWEDEN                                     0.00
SYRIA                                    100.00
Seychelles                               100.00
Sierra Leone                             100.00
TAIWAN                                    33.33
TANZANIA                                  75.00
TASMAN SEA                                 0.00
THAILAND                                  50.00
THE BALKANS                              100.00
TONGA                                     26.67
TRINIDAD & TOBAGO                         33.33
TUNISIA                                   33.33
TURKEY                                    25.00
TURKS & CAICOS                            40.00
TUVALU                                   100.00
UNITED ARAB EMIRATES                       0.00
UNITED ARAB EMIRATES (UAE)                 0.00
UNITED KINGDOM                            18.18
URUGUAY                                   33.33
USA                                       11.57
VANUATU                                   64.29
VENEZUELA                                 45.45
VIETNAM                                    7.14
WESTERN SAMOA                            100.00
YEMEN                                    100.00
YEMEN                                     71.43