<a href="https://colab.research.google.com/github/raj-vijay/ml/blob/master/04.Extreme%20Gradient%20Boost/03_Boosting_WBC_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Boosting**

- Boosting is not a specific algorithm
- It is a metaalgorithm that can be applied to various machine learning algorithms
- Ensemble meta-algorithm used to convert many weak learners into
a strong learner

**Weak learners and strong learners**
- Weak learner: ML algorithm that is slightly better than chance
- Example: Decision tree whose predictions are slightly better
than 50%
- Boosting converts a collection of weak learners into a strong
learner
- Strong learner: Any algorithm that can be tuned to achieve good
performance

**How boosting is accomplished**
- Iteratively learning a set of weak models on subsets of the data
- Weighing each weak prediction according to each weak learner's
performance
- Combine the weighted predictions to obtain a single weighted
prediction that is much better than the individual predictions themselves!

**When to use XGBoost**
- For large number of training samples
- Greater than 1000 training samples and less 100 features
- The number of features < number of training samples
- Data has a mixture of categorical and numeric features or just numeric features

https://xgboost.readthedocs.io/en/latest/

In [ ]:
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
!wget https://assets.datacamp.com/production/repositories/1796/datasets/0eb6987cb9633e4d6aa6cfd11e00993d2387caa4/wbc.csv

--2020-05-24 13:14:42--  https://assets.datacamp.com/production/repositories/1796/datasets/0eb6987cb9633e4d6aa6cfd11e00993d2387caa4/wbc.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 99.84.245.98, 99.84.245.60, 99.84.245.67, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|99.84.245.98|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125204 (122K)
Saving to: ‘wbc.csv’

wbc.csv             100%[===================>] 122.27K  --.-KB/s    in 0.02s

2020-05-24 13:14:42 (5.43 MB/s) - ‘wbc.csv’ saved [125204/125204]

In [ ]:
df = pd.read_csv('wbc.csv')

In [ ]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
X = df.drop(['diagnosis', 'Unnamed: 32'], axis = 1)

In [ ]:
y = df['diagnosis'].astype('category')
y = y.cat.codes

In [ ]:
#import xgboost
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [ ]:
# Create the training and test sets
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=123)

In [ ]:
# Create the DMatrix from X and y: churn_dmatrix
churn_dmatrix = xgb.DMatrix(data=X, label=y)

# Create the parameter dictionary: params
params = {"objective":"reg:logistic", "max_depth":3}

# Perform cross-validation: cv_results
cv_results = xgb.cv(dtrain=churn_dmatrix, params=params, 
                    nfold=3, num_boost_round=5, 
                    metrics="error", as_pandas=True, seed=123)

# Print cv_results
print(cv_results)

# Print the accuracy
print(((1-cv_results["test-error-mean"]).iloc[-1]))

   train-error-mean  train-error-std  test-error-mean  test-error-std
0          0.025480         0.002451         0.066824        0.019564
1          0.021969         0.001257         0.061524        0.013876
2          0.014945         0.006589         0.056252        0.010004
3          0.012306         0.003300         0.052734        0.011418
4          0.010549         0.004314         0.054497        0.012485
0.9455026666666666

In [ ]:
# Perform cross_validation: cv_results
cv_results = xgb.cv(dtrain=churn_dmatrix, params=params, 
                    nfold=3, num_boost_round=5, 
                    metrics="auc", as_pandas=True, seed=123)

# Print cv_results
print(cv_results)

# Print the AUC
print((cv_results["test-auc-mean"]).iloc[-1])

   train-auc-mean  train-auc-std  test-auc-mean  test-auc-std
0        0.987225       0.001301       0.961473      0.024760
1        0.993244       0.004295       0.969078      0.022616
2        0.995224       0.003751       0.972491      0.024377
3        0.997125       0.002042       0.971521      0.025490
4        0.997610       0.001871       0.974127      0.026609
0.9741269999999999