<a href="https://colab.research.google.com/github/raj-vijay/ml/blob/master/03.Tree-based%20Models/03_Classification_Tree_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Building Blocks of a Decision-Tree**
- Decision-Tree: data structure consisting of a hierarchy of nodes.
- Node: question or prediction.

Three kinds of nodes:

1. Root: no parent node, question giving rise to two children nodes.
2. Internal node: one parent node, question giving rise to two children nodes.
3. Leaf: one parent node, no children nodes --> prediction.

In [ ]:
!wget https://assets.datacamp.com/production/repositories/1796/datasets/0eb6987cb9633e4d6aa6cfd11e00993d2387caa4/wbc.csv

--2020-05-23 13:20:12--  https://assets.datacamp.com/production/repositories/1796/datasets/0eb6987cb9633e4d6aa6cfd11e00993d2387caa4/wbc.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 13.224.166.65, 13.224.166.4, 13.224.166.92, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|13.224.166.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125204 (122K)
Saving to: ‘wbc.csv’

wbc.csv             100%[===================>] 122.27K   170KB/s    in 0.7s

2020-05-23 13:20:14 (170 KB/s) - ‘wbc.csv’ saved [125204/125204]

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('wbc.csv')

In [ ]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
X = df.drop(['diagnosis', 'Unnamed: 32'], axis = 1)

In [ ]:
y = df['diagnosis']

**Classification Trees in Scikit Learn**

In [ ]:
# Import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
# Import train_test_split
from sklearn.model_selection import train_test_split
# Import accuracy_score
from sklearn.metrics import accuracy_score

In [ ]:
# Split dataset into 80% train, 20% test
X_train, X_test, y_train, y_test= train_test_split(X, y,
test_size=0.2,
stratify=y,
random_state=1)

# Instantiate dt, set 'criterion' to 'gini'
dt = DecisionTreeClassifier(criterion='gini', random_state=1)

In [ ]:
# Fit dt to the training set
dt.fit(X_train,y_train)
# Predict test-set labels
y_pred= dt.predict(X_test)
# Evaluate test-set accuracy
accuracy_gini = accuracy_score(y_test, y_pred)
print(accuracy_gini)

0.9298245614035088

**Entropy as an information criterion**

In [ ]:
# Import DecisionTreeClassifier from sklearn.tree
from sklearn.tree import DecisionTreeClassifier

# Instantiate dt_entropy, set 'entropy' as the information criterion
dt_entropy = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)

# Fit dt_entropy to the training set
dt_entropy.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [ ]:
# Import accuracy_score from sklearn.metrics
from sklearn.metrics import accuracy_score

# Use dt_entropy to predict test set labels
y_pred = dt_entropy.predict(X_test)

# Evaluate accuracy_entropy
accuracy_entropy = accuracy_score(y_test, y_pred)

# Print accuracy_entropy
print('Accuracy achieved by using entropy: ', accuracy_entropy)

# Print accuracy_gini
print('Accuracy achieved by using the gini index: ', accuracy_gini)

Accuracy achieved by using entropy:  0.9385964912280702
Accuracy achieved by using the gini index:  0.9298245614035088