<a href="https://colab.research.google.com/github/raj-vijay/ml/blob/master/03.Tree-based%20Models/19_Gradient_Boosting_Bike_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://assets.datacamp.com/production/repositories/1796/datasets/594538f54a854b322d6e4c8031f3f31bc522d3e5/bikes.csv

--2020-05-24 00:26:30--  https://assets.datacamp.com/production/repositories/1796/datasets/594538f54a854b322d6e4c8031f3f31bc522d3e5/bikes.csv
Resolving assets.datacamp.com (assets.datacamp.com)... 13.224.13.44, 13.224.13.62, 13.224.13.88, ...
Connecting to assets.datacamp.com (assets.datacamp.com)|13.224.13.44|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65272 (64K)
Saving to: ‘bikes.csv’

bikes.csv           100%[===================>]  63.74K  --.-KB/s    in 0.1s

2020-05-24 00:26:31 (479 KB/s) - ‘bikes.csv’ saved [65272/65272]

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('bikes.csv')

In [ ]:
df.head()

   hr  holiday  workingday  ...  Clear to partly cloudy  Light Precipitation  Misty
0   0        0           0  ...                       1                    0      0
1   1        0           0  ...                       1                    0      0
2   2        0           0  ...                       1                    0      0
3   3        0           0  ...                       1                    0      0
4   4        0           0  ...                       1                    0      0

[5 rows x 13 columns]

In [ ]:
X = df.drop(['cnt'], axis = 1)

In [ ]:
y = df['cnt']

In [ ]:
# Import models and utility functions
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
# Set seed for reproducibility
SEED = 1

In [ ]:
# Split dataset into 70% train and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

In [ ]:
# Import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingRegressor

# Instantiate gb
gb = GradientBoostingRegressor(max_depth=4,
                               n_estimators=200,
                               random_state=2)

In [ ]:
# Fit gb to the training set
gb.fit(X_train, y_train)

# Predict test set labels
y_pred = gb.predict(X_test)

In [ ]:
# Import mean_squared_error as MSE
from sklearn.metrics import mean_squared_error as MSE

# Compute MSE
mse_test = MSE(y_test, y_pred)

# Compute RMSE
rmse_test = mse_test**(1/2)

# Print RMSE
print('Test set RMSE of gb: {:.3f}'.format(rmse_test))

Test set RMSE of gb: 45.339